#lobby {
    float: left;
    margin-left: 500px;
    top: 0;
    left: 0;
}

#start-game-button {
    visibility: visible;
}

#start-game-button.hide
{
    visibility: hidden;
}

#play-menu {
    visibility: visible;
}

#play-menu.hide {
    visibility: hidden;
}

#character-reveal {
    visibility: visible;
}

#character-reveal.hide {
    visibility: hidden;
}